.all-role-table {
	padding: 1rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 7px;
}

.all-role-table h3 {
	margin-bottom: 2rem;
}

.role-tables {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 50vh;
	gap: 2rem;
}

.role-tables td {
	width: 210px;
}

.menu-management {
	display: flex;
	flex-direction: row;
	margin: 2rem;
	width: 95vw;
	margin-inline: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 780px;
}

.menu-management-nav-list {
	width: 25vw;
	height: 100%;
	padding: 1rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 7px;
	flex-wrap: wrap;
}

.menu-management-nav-list h3 {
	margin-bottom: 2rem;
}

.menu-management-nav-list td {
	width: 1000px;
}

.arrow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
  flex-direction: column;
}

.arrow-svg {
	width: 80%;
	max-width: 600px;
	height: auto;
  
}
