#uncontrolled-tab-example {
  justify-content: center;
}

.appointment-page {
  margin: 2rem;
  text-align: center;
}

.red-tile {
  pointer-events: none;
}

.past-tile {
  pointer-events: none;
}

.has-appointments {
  transition: 1s;
  background-color: rgb(240, 240, 159) !important;
}

.book {
  margin-top: 3rem;
}

.calendar {
  margin-top: 2rem;
  margin-inline: auto;
}

.h2book {
  text-align: center;
  padding: 2rem;
  font-size: 3rem;
}

.appointment-generate{
  background-color: white;
  width: 95vw;
  margin-inline: auto;
  border-radius: 1rem;
  padding: 2rem;
}

.calendarParent {
  display: flex;
  flex-direction: column;
}