.list-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 4rem;
  border: 2px solid var(--nav-and-border-color);
  border-radius: 1.5rem;
  height: 50px;
  padding-inline: 1rem;
}

.list-headers p {
  margin: 0;
  align-content: center;
}

.list-group-users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-inline: 4rem;
  border: 2px solid var(--nav-and-border-color);
  border-radius: 1.5rem;
  height: 50px;
  padding-inline: 1rem;
}

.patients {
  width: 90vw;
  background-color: rgb(255, 244, 224);
  margin-inline: auto;
  margin-block: 2rem;
  border-radius: 0.7rem;
  padding: 2rem;
}

.patients h1 {
  text-align: center;
}

.patients-table {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
