#uncontrolled-tab-example {
  justify-content: center;
}

.appointment-page {
  margin: 2rem;
  text-align: center;
}

.red-tile {
  /*color: black; /* Betűk színe maradjon ugyanaz */
  pointer-events: none; /* Nem kattintható */
}
.past-tile{
	pointer-events: none;
}


/* Ha van foglalás egy napon, akkor külön szín */
.has-appointments {
  background-color: rgb(240, 240, 159) !important;
}
